/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- */
/* starter pack */

.container{
    display: flex;
}

.standard-width{
    width: 70%;
}

.big-sect-height{
    height: 950px;
}

.standard-sect-height{
    height: 700px;
}

.height100{
    height: 100%;
}

.height80{
    height: 80%;
}

.in-flex-centered-item{
    margin: auto;
}

.border{
    border: 1px dashed black;
}

/* ------------------------------- */
/* header section "navbar container" */

header section:first-child{
    background-color: lightblue;
    height: 100px;
}

header nav{
    background-color: orange;
    height: 60px;
}

nav div.container{
    justify-content: center;
    align-items: center;
}

nav div:nth-child(odd){
    width: 25%;
}

nav div:nth-child(even){
    width: 50%;
}

nav ul > li{
    list-style: none;
    margin: 0 10px;
}

nav a{
    color: black;
}

/* ------------------------------- */
/* header section "sect-hero container" */

header section:last-child{
    background-color: blue;
    height: 600px;
}

section:last-child div.hero{
    width: 50%;
    background-color: violet;
}

/* ------------------------------- */
/* main*/

main section:nth-child(even){
    background-color: lightgray;
}