/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox{
    display: flex;
}

.standard-width{
    width: 70%;
}

.in-flex-centered-items{
    margin: auto;
}

.visible{
    border: 1px dotted black;
}